@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; // Sử dụng layout Admin
}

<h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-6">Chào mừng đến với Admin Dashboard!</h2>